.c-municard {
  padding-bottom: $inuit-global-spacing-unit-small;
  display: flex;
  flex-flow: row wrap;
  .c-municard__item {
    margin-right: $inuit-global-spacing-unit-small;
  }
  .c-municard__item--logos {
    flex-basis: 100%;
  }
}
